In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install selenium

Requirement already satisfied: selenium in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (4.20.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.2.1)
Requirement already satisfied: trio~=0.17 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from selenium) (4.11.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from trio~=0.17->selenium) (3.7)
Requirement already satisfied: outcome in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.22)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by  import By

In [5]:
navegador = webdriver.Edge()

In [6]:
navegador.get('https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_taxa_de_homic%C3%ADdio_intencional')

In [7]:
#navegador.find_element(By.XPATH, '//*[@id=":rh:"]/li[2]/div/div/div/div[1]/div/div[3]/div/a/span').click()

In [8]:
pais = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr[1]/td[1]/a').text
taxa = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr[1]/td[2]').text
total = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr[1]/td[3]').text
regiao = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr[1]/td[4]').text
sub_regiao = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr[1]/td[5]').text

In [9]:
print(pais)
print(taxa)
print(total)
print(regiao)
print(sub_regiao)

Burundi
4,03
436
África
África Oriental

In [10]:
lista_vazia_pais = []
for i in range(1, 101):
    pais = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr['+str(i)+']/td[1]/a').text
    lista_vazia_pais.append(pais)
print(lista_vazia_pais)

['Burundi', 'Comores', 'Djibouti', 'Eritreia', 'Etiópia', 'Quénia', 'Madagascar', 'Malawi', 'Maurícia', 'Moçambique', 'Ruanda', 'Seicheles', 'Somália', 'Sudão do Sul', 'Uganda', 'Tanzânia', 'Zâmbia', 'Zimbabwe', 'Angola', 'Camarões', 'República Centro-Africana', 'Chade', 'Congo', 'República Democrática do Congo', 'Guiné Equatorial', 'São Tomé e Príncipe', 'Gabão', 'Argélia', 'Egito', 'Líbia', 'Marrocos', 'Sudão', 'Tunísia', 'Botswana', 'Lesoto', 'Namíbia', 'África do Sul', 'Eswatini', 'Benim', 'Burquina Fasso', 'Cabo Verde', 'Costa do Marfim', 'Gâmbia', 'Gana', 'Guiné', 'Guiné-Bissau', 'Libéria', 'Mali', 'Mauritânia', 'Níger', 'Nigéria', 'Senegal', 'Serra Leoa', 'Togo', 'Anguila', 'Antígua e Barbuda', 'Aruba', 'Bahamas', 'Barbados', 'Ilhas Virgens Britânicas', 'Ilhas Cayman', 'Cuba', 'Domínica', 'República Dominicana', 'Granada', 'Guadalupe', 'Haiti', 'Jamaica', 'Martinica', 'Montserrat', 'Porto Rico', 'São Cristóvão e Nevis', 'Santa Lúcia', 'São Vicente e Granadinas', 'Trinidad e Tobago', 'Ilhas Turks e Caicos', 'Ilhas Virgens Americanas', 'Belize', 'Costa Rica', 'El Salvador', 'Guatemala', 'Honduras', 'México', 'Nicarágua', 'Panamá', 'Bermudas', 'Canadá', 'Gronelândia', 'Estados Unidos', 'Argentina', 'Bolívia', 'Brasil', 'Chile', 'Colômbia', 'Equador', 'Guiana Francesa', 'Guiana', 'Paraguai', 'Peru', 'Suriname']

In [11]:
df = pd.DataFrame(lista_vazia_pais, columns=['pais'])

In [12]:
lista_vazia_taxa = []
for i in range(1, 101):
    taxa = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr['+str(i)+']/td[2]').text
    lista_vazia_taxa.append(taxa)
print(lista_vazia_taxa)

['4,03', '7,60', '6,77', '7,46', '7,60', '5,75', '0,62', '1,78', '2,71', '3,39', '4,51', '2,15', '5,56', '13,70', '11,84', '7,01', '5,85', '6,74', '9,65', '5,93', '13,09', '9,02', '10,88', '13,36', '3,21', '3,44', '9,0', '1,37', '3,23', '2,49', '1,05', '6,45', '3,05', '10,53', '38,00', '16,93', '46,60', '8,16', '6,01', '0,71', '8,84', '11,84', '9,07', '1,70', '8,46', '9,17', '3,22', '10,82', '10,22', '4,47', '32,15', '7,30', '1,92', '9,14', '27,66', '11,23', '3,94', '32,10', '15,00', '8,37', '14,74', '4,72', '8,40', '10,50', '7,52', '7,90', '10,04', '52,92', '2,78', '20,39', '15,86', '33,55', '39,00', '30,72', '39,40', '77,6', '52,64', '25,1', '11,77', '7,80', '17,30', '35,8', '25,21', '6.7', '11,38', '6,45', '2,12', '12,46', '6,84', '4,6', '12,40', '19,45', '4,60', '26,50', '8,23', '13,17', '16,58', '7,6', '7,16', '10,68']

In [13]:
df['taxa'] = lista_vazia_taxa
df

               pais   taxa
0           Burundi   4,03
1           Comores   7,60
2          Djibouti   6,77
3          Eritreia   7,46
4           Etiópia   7,60
..              ...    ...
95  Guiana Francesa  13,17
96           Guiana  16,58
97         Paraguai    7,6
98             Peru   7,16
99         Suriname  10,68

[100 rows x 2 columns]

In [14]:
lista_vazia_total = []
for i in range(1, 101):
    total = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr['+str(i)+']/td[3]').text
    lista_vazia_total.append(total)
print(lista_vazia_total)

['436', '60', '60', '390', '7552', '2648', '130', '279', '34', '849', '500', '2', '599 +', '1504', '4473', '3746', '814', '981', '2414', '1385', '642', '1266', '466', '10322', '27', '6', '155', '542', '2703', '156 +', '355', '2596 + +', '332', '220', '764', '388', '27272', '102', '654', '117', '46', '2688', '181', '423', '1067', '169', '135', '1905', '416', '788', '64201', '1105', '124', '668', '4', '10', '4', '128', '43', '2', '8', '534', '6', '1172', '8', '36', '1033', '1498', '11', '1', '584', '18', '70', '32', '605', '35', '56', '113', '566', '495', '3004', '3713', '30968 +', '460', '447', '4', '788', '7', '22941', '2092', '1270', '41069', '960', '12782 +', '1309', '30', '131', '512', '2247', '58']

In [15]:
df['total'] = lista_vazia_total
df

               pais   taxa total
0           Burundi   4,03   436
1           Comores   7,60    60
2          Djibouti   6,77    60
3          Eritreia   7,46   390
4           Etiópia   7,60  7552
..              ...    ...   ...
95  Guiana Francesa  13,17    30
96           Guiana  16,58   131
97         Paraguai    7,6   512
98             Peru   7,16  2247
99         Suriname  10,68    58

[100 rows x 3 columns]

In [16]:
lista_vazia_regiao = []
for i in range(1, 101):
    regiao = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr['+str(i)+']/td[4]').text
    lista_vazia_regiao.append(regiao)
print(lista_vazia_regiao)

['África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'África', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América']

In [17]:
df['regiao'] = lista_vazia_regiao
df

               pais   taxa total   regiao
0           Burundi   4,03   436   África
1           Comores   7,60    60   África
2          Djibouti   6,77    60   África
3          Eritreia   7,46   390   África
4           Etiópia   7,60  7552   África
..              ...    ...   ...      ...
95  Guiana Francesa  13,17    30  América
96           Guiana  16,58   131  América
97         Paraguai    7,6   512  América
98             Peru   7,16  2247  América
99         Suriname  10,68    58  América

[100 rows x 4 columns]

In [18]:
lista_vazia_sub_regiao = []
for i in range(1, 101):
    sub_regiao = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr['+str(i)+']/td[5]').text
    lista_vazia_sub_regiao.append(sub_regiao)
print(lista_vazia_sub_regiao)

['África Oriental', 'África Oriental', 'África Oriental', 'África Oriental', 'África Oriental', 'África Oriental', 'África Oriental', 'África Oriental', 'África Oriental', 'África Oriental', 'África Oriental', 'África Oriental', 'África Oriental', 'África Oriental', 'África Oriental', 'África Oriental', 'África Oriental', 'África Oriental', 'África Central', 'África Central', 'África Central', 'África Central', 'África Central', 'África Central', 'África Central', 'África Central', 'África Central', 'África Setentrional', 'África Setentrional', 'África Setentrional', 'África Setentrional', 'África Setentrional', 'África Setentrional', 'África Austral', 'África Austral', 'África Austral', 'África Austral', 'África Austral', 'África Ocidental', 'África Ocidental', 'África Ocidental', 'África Ocidental', 'África Ocidental', 'África Ocidental', 'África Ocidental', 'África Ocidental', 'África Ocidental', 'África Ocidental', 'África Ocidental', 'África Ocidental', 'África Ocidental', 'África Ocidental', 'África Ocidental', 'África Ocidental', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'Caribe', 'América Central', 'América Central', 'América Central', 'América Central', 'América Central', 'América do Norte', 'América Central', 'América Central', 'América do Norte', 'América do Norte', 'América do Norte', 'América do Norte', 'América do Sul', 'América do Sul', 'América do Sul', 'América do Sul', 'América do Sul', 'América do Sul', 'América do Sul', 'América do Sul', 'América do Sul', 'América do Sul', 'América do Sul']

In [19]:
df['sub_regiao'] = lista_vazia_sub_regiao
df

               pais   taxa total   regiao       sub_regiao
0           Burundi   4,03   436   África  África Oriental
1           Comores   7,60    60   África  África Oriental
2          Djibouti   6,77    60   África  África Oriental
3          Eritreia   7,46   390   África  África Oriental
4           Etiópia   7,60  7552   África  África Oriental
..              ...    ...   ...      ...              ...
95  Guiana Francesa  13,17    30  América   América do Sul
96           Guiana  16,58   131  América   América do Sul
97         Paraguai    7,6   512  América   América do Sul
98             Peru   7,16  2247  América   América do Sul
99         Suriname  10,68    58  América   América do Sul

[100 rows x 5 columns]

In [20]:
#salva na mesma pasta que o script esta
#df.to_csv('dados_originais.csv', sep=';', index=False)
#salva na pasta de origem
df.to_csv('../0_bases_originais/dados_originais_taxa_de_homicídio_intencional.csv', sep=';', index=False, encoding= 'UTF-8')

#salva em json
df.to_json('../0_bases_originais/dados_originais_taxa_de_homicídio_intencional.json')

In [21]:
df['taxa'] = df['taxa'].str.replace(',','.')
df['taxa'] = df['taxa'].astype(float)
df['taxa']

0      4.03
1      7.60
2      6.77
3      7.46
4      7.60
      ...
95    13.17
96    16.58
97     7.60
98     7.16
99    10.68
Name: taxa, Length: 100, dtype: float64

In [22]:
df['total'] = df['total'].str.replace(',','.').str.replace(' ','').str.replace('+','')
df['total'] = df['total'].astype(int)
df['total']

0      436
1       60
2       60
3      390
4     7552
      ...
95      30
96     131
97     512
98    2247
99      58
Name: total, Length: 100, dtype: int32

In [23]:
df

               pais   taxa  total   regiao       sub_regiao
0           Burundi   4.03    436   África  África Oriental
1           Comores   7.60     60   África  África Oriental
2          Djibouti   6.77     60   África  África Oriental
3          Eritreia   7.46    390   África  África Oriental
4           Etiópia   7.60   7552   África  África Oriental
..              ...    ...    ...      ...              ...
95  Guiana Francesa  13.17     30  América   América do Sul
96           Guiana  16.58    131  América   América do Sul
97         Paraguai   7.60    512  América   América do Sul
98             Peru   7.16   2247  América   América do Sul
99         Suriname  10.68     58  América   América do Sul

[100 rows x 5 columns]

In [24]:
#import plotly.express as px

In [25]:
#px.histogram(data_frame=df, x='sub_regiao', y='taxa')

In [26]:
#salva na mesma pasta que o script esta
#df.to_csv('dados_originais.csv', sep=';', index=False)
#salva na pasta de origem
df.to_csv('../1_bases_tratadas/dados_tratadas_taxa_de_homicídio_intencional.csv', sep=';', index=False, encoding= 'UTF-8')

#salva em json
df.to_json('../1_bases_tratadas/dados_tratadas_taxa_de_homicídio_intencional.json')

In [27]:
import sqlalchemy as sqa

In [28]:
# Conectar ao banco de dados SQLite
engine = sqa.create_engine("sqlite:///taxas.db", echo=True)
conn = engine.connect()

# Escrever o DataFrame em uma tabela específica no banco de dados
df.to_sql('nome_da_sua_tabela', con=conn, if_exists='replace', index=False)

# Ler os dados da tabela recém-criada no banco de dados
dados_do_banco = pd.read_sql('nome_da_sua_tabela', con=conn)

# Exibir os dados lidos
print(dados_do_banco)

2024-06-02 17:58:57,619 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-02 17:58:57,624 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("nome_da_sua_tabela")
2024-06-02 17:58:57,625 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,629 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("nome_da_sua_tabela")
2024-06-02 17:58:57,629 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,631 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-06-02 17:58:57,632 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,634 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-06-02 17:58:57,635 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,638 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("nome_da_sua_tabela")
2024-06-02 17:58:57,639 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,641 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-06-02 17:58:57,643 INFO sqlalchemy.engine.Engine [raw sql] ('nome_da_sua_tabela',)
2024-06-02 17:58:57,645 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("nome_da_sua_tabela")
2024-06-02 17:58:57,646 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,648 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("nome_da_sua_tabela")
2024-06-02 17:58:57,649 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,651 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-06-02 17:58:57,652 INFO sqlalchemy.engine.Engine [raw sql] ('nome_da_sua_tabela',)
2024-06-02 17:58:57,655 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("nome_da_sua_tabela")
2024-06-02 17:58:57,656 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,658 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("nome_da_sua_tabela")
2024-06-02 17:58:57,659 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,661 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("nome_da_sua_tabela")
2024-06-02 17:58:57,662 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,664 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("nome_da_sua_tabela")
2024-06-02 17:58:57,665 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,667 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("nome_da_sua_tabela")
2024-06-02 17:58:57,668 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,669 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("nome_da_sua_tabela")
2024-06-02 17:58:57,670 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,671 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-06-02 17:58:57,673 INFO sqlalchemy.engine.Engine [raw sql] ('nome_da_sua_tabela',)
2024-06-02 17:58:57,678 INFO sqlalchemy.engine.Engine
DROP TABLE nome_da_sua_tabela
2024-06-02 17:58:57,679 INFO sqlalchemy.engine.Engine [no key 0.00125s] ()
2024-06-02 17:58:57,698 INFO sqlalchemy.engine.Engine
CREATE TABLE nome_da_sua_tabela (
	pais TEXT,
	taxa FLOAT,
	total INTEGER,
	regiao TEXT,
	sub_regiao TEXT
)


2024-06-02 17:58:57,699 INFO sqlalchemy.engine.Engine [no key 0.00110s] ()
2024-06-02 17:58:57,711 INFO sqlalchemy.engine.Engine INSERT INTO nome_da_sua_tabela (pais, taxa, total, regiao, sub_regiao) VALUES (?, ?, ?, ?, ?)
2024-06-02 17:58:57,712 INFO sqlalchemy.engine.Engine [generated in 0.00141s] [('Burundi', 4.03, 436, 'África', 'África Oriental'), ('Comores', 7.6, 60, 'África', 'África Oriental'), ('Djibouti', 6.77, 60, 'África', 'África Oriental'), ('Eritreia', 7.46, 390, 'África', 'África Oriental'), ('Etiópia', 7.6, 7552, 'África', 'África Oriental'), ('Quénia', 5.75, 2648, 'África', 'África Oriental'), ('Madagascar', 0.62, 130, 'África', 'África Oriental'), ('Malawi', 1.78, 279, 'África', 'África Oriental')  ... displaying 10 of 100 total bound parameter sets ...  ('Peru', 7.16, 2247, 'América', 'América do Sul'), ('Suriname', 10.68, 58, 'América', 'América do Sul')]
2024-06-02 17:58:57,715 INFO sqlalchemy.engine.Engine COMMIT
2024-06-02 17:58:57,724 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-02 17:58:57,725 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("nome_da_sua_tabela")
2024-06-02 17:58:57,726 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,728 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-06-02 17:58:57,729 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,730 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-06-02 17:58:57,732 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,733 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("nome_da_sua_tabela")
2024-06-02 17:58:57,734 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,736 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-06-02 17:58:57,737 INFO sqlalchemy.engine.Engine [raw sql] ('nome_da_sua_tabela',)
2024-06-02 17:58:57,739 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("nome_da_sua_tabela")
2024-06-02 17:58:57,740 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,742 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("nome_da_sua_tabela")
2024-06-02 17:58:57,744 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,745 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-06-02 17:58:57,746 INFO sqlalchemy.engine.Engine [raw sql] ('nome_da_sua_tabela',)
2024-06-02 17:58:57,748 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("nome_da_sua_tabela")
2024-06-02 17:58:57,749 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,751 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("nome_da_sua_tabela")
2024-06-02 17:58:57,751 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,753 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("nome_da_sua_tabela")
2024-06-02 17:58:57,754 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,755 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("nome_da_sua_tabela")
2024-06-02 17:58:57,756 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,758 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("nome_da_sua_tabela")
2024-06-02 17:58:57,759 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,760 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("nome_da_sua_tabela")
2024-06-02 17:58:57,761 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-06-02 17:58:57,763 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-06-02 17:58:57,765 INFO sqlalchemy.engine.Engine [raw sql] ('nome_da_sua_tabela',)
2024-06-02 17:58:57,770 INFO sqlalchemy.engine.Engine SELECT nome_da_sua_tabela.pais, nome_da_sua_tabela.taxa, nome_da_sua_tabela.total, nome_da_sua_tabela.regiao, nome_da_sua_tabela.sub_regiao
FROM nome_da_sua_tabela
2024-06-02 17:58:57,771 INFO sqlalchemy.engine.Engine [generated in 0.00129s] ()
               pais   taxa  total   regiao       sub_regiao
0           Burundi   4.03    436   África  África Oriental
1           Comores   7.60     60   África  África Oriental
2          Djibouti   6.77     60   África  África Oriental
3          Eritreia   7.46    390   África  África Oriental
4           Etiópia   7.60   7552   África  África Oriental
..              ...    ...    ...      ...              ...
95  Guiana Francesa  13.17     30  América   América do Sul
96           Guiana  16.58    131  América   América do Sul
97         Paraguai   7.60    512  América   América do Sul
98             Peru   7.16   2247  América   América do Sul
99         Suriname  10.68     58  América   América do Sul

[100 rows x 5 columns]

In [29]:
pip install streamlit

Requirement already satisfied: streamlit in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.35.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: altair<6,>=4.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (5.3.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (1.8.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=16.8 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (24.0)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (10.3.0)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (4.25.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (16.1.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (2.32.2)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (13.7.1)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (8.3.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (4.11.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (6.4)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (4.0.1)
Requirement already satisfied: jinja2 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from altair<6,>=4.0->streamlit) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from altair<6,>=4.0->streamlit) (4.22.0)
Requirement already satisfied: toolz in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from altair<6,>=4.0->streamlit) (0.12.1)
Requirement already satisfied: colorama in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas<3,>=1.3.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas<3,>=1.3.0->streamlit) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas<3,>=1.3.0->streamlit) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests<3,>=2.27->streamlit) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests<3,>=2.27->streamlit) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests<3,>=2.27->streamlit) (2024.2.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from rich<14,>=10.14.0->streamlit) (2.17.2)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.5)
Requirement already satisfied: attrs>=22.2.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Requirement already satisfied: six>=1.5 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.3.0->streamlit) (1.16.0)

In [30]:
import streamlit as st

In [32]:
pip install plotly.express

Collecting plotly.expressNote: you may need to restart the kernel to use updated packages.

  Using cached plotly_express-0.4.1-py2.py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: pandas>=0.20.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly.express) (2.2.2)
Requirement already satisfied: plotly>=4.1.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly.express) (5.22.0)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly.express) (0.14.2)
Requirement already satisfied: scipy>=0.18 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly.express) (1.13.1)
Requirement already satisfied: patsy>=0.5 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly.express) (0.5.6)
Requirement already satisfied: numpy>=1.11 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly.express) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=0.20.0->plotly.express) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=0.20.0->plotly.express) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=0.20.0->plotly.express) (2024.1)
Requirement already satisfied: six in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from patsy>=0.5->plotly.express) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly>=4.1.0->plotly.express) (8.3.0)
Requirement already satisfied: packaging in c:\users\franc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly>=4.1.0->plotly.express) (24.0)
Using cached plotly_express-0.4.1-py2.py3-none-any.whl (2.9 kB)
Installing collected packages: plotly.express
Successfully installed plotly.express-0.4.1